In [ ]:
import polars as pl
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# CSV-Datei laden
df = pl.read_csv('mpg_from_ggplot2.csv')

# Problem 1: Funktion zum Hinzufügen von Rauschen zu einer bestimmten Spalte
def add_noise_to_column(df, column_name, mean=0, std=1, seed=None):
    if seed:
        np.random.seed(seed)
    
    # Normalverteiltes Rauschen hinzufügen
    noise = np.random.normal(mean, std, len(df))
    
    df = df.with_columns(
        (pl.col(column_name) + noise).alias(f"{column_name}_with_noise")
    )
    return df

# Beispiel: Hinzufügen von Rauschen zu der Spalte 'cty' (city mpg)
df_with_noise = add_noise_to_column(df, 'cty', mean=0, std=1)

# Ausgabe zur Überprüfung
print(df_with_noise)

# Problem 4: Scatterplot erstellen (Originalwerte vs. Werte mit Rauschen)
def create_scatterplot(df, original_column, noise_column):
    # Polars DataFrame in pandas DataFrame umwandeln
    df_pandas = pd.DataFrame(df.to_dict())  # Konvertiere Polars in pandas
    
    # Scatterplot: Originalwerte vs. Werte mit Rauschen
    plt.scatter(df_pandas[original_column], df_pandas[noise_column])
    plt.xlabel(f"Original {original_column}")
    plt.ylabel(f"{noise_column}")
    plt.title(f"Scatterplot: {original_column} vs. {noise_column}")
    plt.show()

# Beispiel: Scatterplot für die Spalte 'cty' (Originalwerte vs. Werte mit Rauschen)
create_scatterplot(df_with_noise, 'cty', 'cty_with_noise')

In [ ]:
df.filter((pl.col('displ') <= 2.5) & (pl.col('displ') >= 1.5))

In [ ]:
df.filter(pl.col('displ').is_in([2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8]))

---
title: "problems_1-dsai-en.qmd"
author: "FET"
format: html
editor: visual
---

## Problem 1

Create a function that takes as input a polars data frame and a column name and returns a data frame with an additional column obtained from the previous one by adding noise. Use a function from `numpy.random` to generate the noise. Use `with_columns` in polars to add a new variable to the dataframe. Inspect by creating a scatter plot.

## Problem 2

Inspect the documentation of `numpy.random.uniform`. Describe the parameters. Decide, whether this could be a reasonable choice for adding jitter.

## Problem 3

How can the function in Problem 1 be improved? Which optional parameters could be useful? What can be computed from the original data?

## Problem 4

Find a dataset from the previous year and create a barplot by using seaborn `countplot`.

## Problem 5

1.  Find out how you can generate a sequence of coin tosses in numpy.
2.  In polars, how can you pick a random sample of observations?

In [ ]:
df.group_by('manufacturer').agg(pl.col('model').count())



df.sort('manufacturer')

In [67]:
df.filter(pl.col('trans').str.contains('manual')).group_by('manufacturer', 'class').agg(pl.col('hwy').mean()).sort('hwy')


# Alle manuell schaltbaren Autos, sortiert nach Hersteller und Klasse, mit durchschnittlichem Autobahnverbrauch

shape: (22, 3)
┌──────────────┬────────────┬───────────┐
│ manufacturer ┆ class      ┆ hwy       │
│ ---          ┆ ---        ┆ ---       │
│ str          ┆ str        ┆ f64       │
╞══════════════╪════════════╪═══════════╡
│ dodge        ┆ pickup     ┆ 16.142857 │
│ ford         ┆ pickup     ┆ 16.5      │
│ nissan       ┆ suv        ┆ 17.0      │
│ toyota       ┆ suv        ┆ 18.5      │
│ ford         ┆ suv        ┆ 19.0      │
│ …            ┆ …          ┆ …         │
│ nissan       ┆ compact    ┆ 29.0      │
│ volkswagen   ┆ compact    ┆ 29.625    │
│ honda        ┆ subcompact ┆ 31.4      │
│ toyota       ┆ compact    ┆ 31.6      │
│ volkswagen   ┆ subcompact ┆ 33.666667 │
└──────────────┴────────────┴───────────┘